@using OCHPlanner3.Services.Interfaces
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder

@inject IUserService  userService

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var currentUser = userService.GetCurrentUserCredentials();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OCHPlanner3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/template/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/css/metisMenu.css">
    <link rel="stylesheet" href="~/template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/template/css/slicknav.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/datatables-select/css/select.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

    <!-- Select 2 -->
    <link rel="stylesheet" href="~/lib/select2/css/select2.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.css" />

    <!-- Bootstrap Slider -->
    <link rel="stylesheet" href="~/lib/bootstrap-slider/css/bootstrap-slider.css" />

    <!-- others css -->
    <link rel="stylesheet" href="~/template/css/typography.css">
    <link rel="stylesheet" href="~/template/css/default-css.css">
    <link rel="stylesheet" href="~/template/css/styles.css">
    <link rel="stylesheet" href="~/template/css/responsive.css">
    <link rel="stylesheet" href="~/css/custom.css" />

    <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" />

    <!-- modernizr css -->
    <script src="~/template/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/lib/plugins/fontawesome-pro/css/all.min.css">
</head>

<body class="body-bg">

    @Html.Hidden("hidLanguage", currentUser.GarageSetting.Language)

    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- main wrapper start -->
    <div class="horizontal-main-wrapper">
        <!-- main header area start -->
        <div class="mainheader-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="https://www.ochplanner.com" target="_blank"><img src="~/images/logo.jpg" style="width:140px;" alt="logo" /></a>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-9 clearfix text-right">
                        <div class="d-md-inline-block d-block mr-md-4">
                            @*<ul class="notification-area">
                                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                                    <li class="dropdown">
                                        <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                            <span>2</span>
                                        </i>
                                        <div class="dropdown-menu bell-notify-box notify-box">
                                            <span class="notify-title">Aucune nouvelles notifications</span>
                                        </div>
                                    </li>
                                </ul>*@
                        </div>
                        <div class="clearfix d-md-inline-block d-block">
                            <div class="user-profile m-0">
                                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <i class="fa fa-angle-down"></i></h4>
                                <div class="dropdown-menu">
                                    <a id="logout" class="dropdown-item" href="#"><i class="fad fa-sign-out-alt pr-2"></i>@Localizer["Logout"]</a>
                                </div>
                                <div class="hidden">
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = "Identity" })" method="post" id="logoutForm">
                                        <button id="logoutButton" type="submit" class="logout"><i class="far fa-sign-out-alt"></i> Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header area end -->
        <!-- header area start -->
        <div class="header-area header-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-10  d-none d-lg-block">
                        <div class="horizontal-menu">
                            <nav>
                                <ul id="nav_menu">

                                    <li class="@(Html.IsMenuActive("/Sticker") || Html.IsMenuActive("/Message") ? "active" : "")">
                                        <a href="javascript:void(0)">
                                            <i class="fad fa-print"></i><span>
                                                @Localizer["MenuPrint"]
                                            </span>
                                        </a>
                                        <ul class="submenu">
                                            <li class="@(Html.IsMenuActive("/Sticker") ? "active" : "")"><a asp-controller="Sticker" asp-action="Simple">Simple</a></li>
                                            <li class="@(Html.IsMenuActive("/Message") ? "active" : "")"><a asp-controller="Message" asp-action="Index">Messages client</a></li>
                                        </ul>
                                    </li>
                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Administrator"))
                                    {
                                        <li class="@(Html.IsMenuActive("/Users") || Html.IsMenuActive("/Roles")  ? "active" : "")">
                                        <a href="javascript:void(0)"><i class="fad fa-users"></i><span>@Localizer["MenuUserManagement"]</span></a>
                                        <ul class="submenu">
                                            <li class="@(Html.IsMenuActive("/Users")  ? "active" : "")"><a asp-controller="Users" asp-action="Index">@Localizer["MenuUsers"]</a></li>
                                            @if (User.IsInRole("SuperAdmin"))
                                                {
                                            <li class="@(Html.IsMenuActive("/Roles")  ? "active" : "")"><a asp-controller="Roles" asp-action="Index">@Localizer["MenuRoles"]</a></li>
                                                }
                                        </ul>
                                    </li>
                                    }
                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Administrator"))
                                    {
                                    <li class="@(Html.IsMenuActive("/Garages") ? "active" : "")">
                                        @if (User.IsInRole("SuperAdmin"))
                                            {
                                        <a asp-controller="Garages" asp-action="Index"><i class="fad fa-car-mechanic"></i>@Localizer["MenuGarageManagement"]</a>
                                            }
                                            else if (User.IsInRole("Administrator"))
                                            {
                                        <a asp-controller="Garage" asp-action="Edit" asp-route-id="@currentUser.GarageId"><i class="fad fa-car-mechanic"></i>@Localizer["MenuGarageManagement"]</a>
                                            }
                                    </li>
                                    }
                                    <li class="@(Html.IsMenuActive("/Options") ? "active" : "")">
                                        <a href="javascript:void(0)"><i class="fad fa-cog"></i><span>@Localizer["MenuOptions"]</span></a>
                                        <ul class="submenu" style="width:280px;">
                                            <li class="@(Html.IsMenuActive("/Options/Printer")  ? "active" : "")"><a asp-controller="Options" asp-action="Printer">@Localizer["MenuPrinters"]</a></li>

                                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Administrator"))
                                            {

                                            <li class="@(Html.IsMenuActive("/Options/Oil") ? "active" : "")"><a asp-controller="Options" asp-action="Oil">@Localizer["MenuOils"]</a></li>
                                            <li class="@(Html.IsMenuActive("/Options/Recommendation") ? "active" : "")"><a asp-controller="Options" asp-action="Recommendation">@Localizer["MenuRecommendation"]</a></li>
                                            <li class="@(Html.IsMenuActive("/Options/Maintenance") ? "active" : "")"><a asp-controller="Options" asp-action="Maintenance">@Localizer["MenuMaintenance"]</a></li>
                                            <li class="@(Html.IsMenuActive("/Options/Appointment") ? "active" : "")"><a asp-controller="Options" asp-action="Appointment">@Localizer["MenuNextAppointment"]</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@(currentUser.GarageSetting.Language.ToUpper() == "FR" ? "https://ochplanner.com/support/" : "https://ochplanner.com/en/support/")" target="_blank"><i class="fad fa-question-square"></i><span>@Localizer["MenuHelp"]</span></a>
                                    </li>
                                    <li>
                                        <a id="btn-order" href="@(currentUser.GarageSetting.Language.ToUpper() == "FR" ? "https://ochplanner.com/boutique/" : "https://ochplanner.com/en/boutique/")" target="_blank" class="btn btn-outline-primary btn-sm"><span>@Localizer["MenuStickerOrder"]</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- nav and search button -->
                    <div class="col-lg-3 clearfix">

                    </div>
                    <!-- mobile_menu -->
                    <div class="col-12 d-block d-lg-none">
                        <div id="mobile_menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        @RenderBody()
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>©2020. G-SolPro inc. Tout droits réservés.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap-slider/js/bootstrap-slider.min.js"></script>

    <script src="~/template/js/metisMenu.min.js"></script>
    <script src="~/template/js/jquery.slimscroll.min.js"></script>
    <script src="~/template/js/jquery.slicknav.min.js"></script>
    <script src="~/template/js/owl.carousel.min.js"></script>

    <script src="~/template/js/plugins.js"></script>
    <script src="~/template/js/scripts.js"></script>

    <!-- DataTables -->
    <script src="/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/lib/datatables-select/js/dataTables.select.min.js"></script>
    <script src="/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    @*<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>*@

    <!-- Moment -->
    <script src="~/lib/moment/moment.js"></script>

    <!-- Select2 -->
    <script src="~/lib/select2/js/select2.js"></script>

    <!-- Datatables Language -->
    <script type="text/javascript" src="~/js/language.js"></script>

    <!-- QZ Tray Print -->
    <script type="text/javascript" src="~/js/qz-tray/qz-tray.js"></script>
    <script type="text/javascript" src="~/js/print-auth.js"></script>

    <!-- Jquery Mask -->
    <script type="text/javascript" src="~/lib/jquery-mask/jquery.mask.js"></script>

    <!-- Pollyfills -->
    <script type="text/javascript" src="~/js/qz-tray/promise-polyfill-8.1.3.min.js"></script>
    <script type="text/javascript" src="~/js/qz-tray/whatwg-fetch-3.0.0.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@10.6.1/dist/sweetalert2.all.min.js"></script>

    <script type="text/javascript" src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
