@model MessageClientViewModel

@using OCHPlanner3.Services.Interfaces
@using OCHPlanner3.Helper

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IUserService  userService

@{
    ViewData["Title"] = @Localizer["Title"];
}

@{
    var currentUser = userService.GetCurrentUserCredentials();
}

@Html.Hidden("hidDateFormat", currentUser.GarageSetting.FormatDate)
@Html.Hidden("hidDateFormatPrint", currentUser.GarageSetting.FormatDatePrint)

@Html.Hidden("HidSelectedOilPrinter", Model.PrinterConfiguration.SelectedOilPrinter)
@Html.Hidden("HidOilOffsetX", Model.PrinterConfiguration.OilOffsetX)
@Html.Hidden("HidOilOffsetY", Model.PrinterConfiguration.OilOffsetY)
@Html.Hidden("HidPrinterRotation", Model.PrinterConfiguration.RotationSelected)
@Html.Hidden("HidStickerLogo", currentUser.GarageSetting.StickerLogo)

@Html.Hidden("HidNextDateOrBefore", Localizer["NextDateOrBefore"].Value)
@Html.Hidden("HidActualKm", Localizer["ActualKm"].Value)
@Html.Hidden("HidNextKm", Localizer["NextKm"].Value)
@Html.Hidden("HidNextUnitKm", Localizer["NextUnitKm"].Value)
@Html.Hidden("HidActualUnitKm", Localizer["ActualUnitKm"].Value)
@Html.Hidden("HidActualMiles", Localizer["ActualMiles"].Value)
@Html.Hidden("HidNextMiles", Localizer["NextMiles"].Value)
@Html.Hidden("HidNextUnitMiles", Localizer["NextUnitMiles"].Value)
@Html.Hidden("HidActualUnitMiles", Localizer["ActualUnitMiles"].Value)
@Html.Hidden("HidActualHm", Localizer["ActualHm"].Value)
@Html.Hidden("HidNextHm", Localizer["NextHm"].Value)
@Html.Hidden("HidNextUnitHrMotor", Localizer["NextUnitHrMotor"].Value)
@Html.Hidden("HidActualUnitHrMotor", Localizer["ActualUnitHrMotor"].Value)
@Html.Hidden("HidNextDate1", Localizer["NextDate1"].Value)
@Html.Hidden("HidNextDate2", Localizer["NextDate2"].Value)
@Html.Hidden("HidNextDate3", Localizer["NextDate3"].Value)
@Html.Hidden("HidLastService", Localizer["LastService"].Value)

@Html.Hidden("HidNextAppointDate", Localizer["NextAppointDate"].Value)
@Html.Hidden("HidNextAppointTime", Localizer["NextAppointTime"].Value)
@Html.Hidden("HidNextAppointDateLabel", Localizer["NextAppointDateLabel"].Value)
@Html.Hidden("HidNextAppointTimeLabel", Localizer["NextAppointTimeLabel"].Value)

@Html.Hidden("HidMake", Localizer["Make"].Value)
@Html.Hidden("HidModel", Localizer["Model"].Value)
@Html.Hidden("HidColor", Localizer["Color"].Value)

@Html.Hidden("HidCenterGarageNameOffset", "")
@Html.Hidden("HidPersonalizedSticker", currentUser.GarageSetting.PersonalizedSticker)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<style>
    .form-group {
        margin-bottom: 0.5rem !important;
    }
</style>

<div class="main-content-inner">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 mt-sm-30 mt-xs-30">
                <div class="card">
                    <div class="card-body" style="min-height:650px;">
                        <div class="form-group row">
                            <label for="unit" class="control-label col-md-4">@Localizer["SelectUnit"]</label>
                            <div class="col-md-8">
                                <label class="mr-4"><input asp-for="SelectedUnit" value="KM" type="radio" class="mr-1" checked />@Localizer["KM"]</label>
                                <label class="mr-4"><input asp-for="SelectedUnit" value="MI" type="radio" class="mr-1" />@Localizer["Miles"]</label>
                                <label><input asp-for="SelectedUnit" value="HM" type="radio" class="mr-1" />@Localizer["HrMotor"]</label>
                            </div>
                        </div>

                        <div id="Choice1">
                            <div class="alert alert-dark" role="alert">
                                <div class="row py-1" style="border-bottom: 1px solid #b9b9b9;">
                                    <h6 class="col-md-6 alert-heading">@Localizer["RecommendationTitle"]</h6>
                                    <div class="col-md-6"><input value="Choice1" type="radio" class="mr-2" style="margin-top:3px; float:right; transform: scale(2);" id="PrintChoice1" name="PrintChoices"></div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <select asp-for="SelectedRecommendationId" asp-items="Model.RecommendationList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                                @Html.Hidden("HidRecommendationValueToDisplay", "")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedDate" class="control-label col-md-3 mt-2">@Localizer["Date"]</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fad fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedMileage" class="control-label col-md-4 mt-2">@Localizer["Interval"]</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedMileageChoice1" name="Choice1SelectedMileage" asp-items="Model.MileageList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Choice2">
                            <div class="alert alert-dark" role="alert">
                                <div class="row py-1" style="border-bottom: 1px solid #b9b9b9;">
                                    <h6 class="col-md-6 alert-heading">@Localizer["MaintenanceTitle"]</h6>
                                    <div class="col-md-6"><input value="Choice2" type="radio" class="mr-2" style="margin-top:3px; float:right; transform: scale(2);" id="PrintChoice2" name="PrintChoices"></div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <select asp-for="SelectedMaintenanceId" asp-items="Model.MaintenanceList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedDate" class="control-label col-md-3 mt-2">@Localizer["Date"]</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fad fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedMileage" class="control-label col-md-4 mt-2">@Localizer["Km"]</label>
                                            <div class="col-md-8">
                                                <input asp-for="UnitValueChoice2" name="UnitValueChoice2" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Choice3">
                            <div class="alert alert-dark" role="alert">
                                <div class="row py-1" style="border-bottom: 1px solid #b9b9b9;">
                                    <h6 class="col-md-6 alert-heading">@Localizer["AppointmentTitle"]</h6>
                                    <div class="col-md-6"><input value="Choice3" type="radio" class="mr-2" style="margin-top:3px; float:right; transform: scale(2);" id="PrintChoice3" name="PrintChoices"></div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <select asp-for="SelectedAppointmentId" asp-items="Model.AppointmentList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedDate" class="control-label col-md-3 mt-2">@Localizer["Date"]</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" />
                                                        <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fad fa-calendar"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedTime" class="control-label col-md-3 mt-2">@Localizer["Time"]</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <div class="input-group time" id="datetimepicker31" data-target-input="nearest">
                                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker31" />
                                                        <div class="input-group-append" data-target="#datetimepicker31" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fad fa-clock"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Choice4">
                            <div class="alert alert-dark" role="alert">
                                <div class="row py-1" style="border-bottom: 1px solid #b9b9b9;">
                                    <h6 class="col-md-6 alert-heading">@Localizer["KeyTitle"]</h6>
                                    <div class="col-md-6"><input value="Choice4" type="radio" class="mr-2" style="margin-top:3px; float:right; transform: scale(2);" id="PrintChoice4" name="PrintChoices"></div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedMake" class="control-label col-md-4 mt-2">@Localizer["Make"]</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedCarMake" name="carMakeList" asp-items="Model.CarMakeList" class="form-control">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedModel" class="control-label col-md-4 mt-2">@Localizer["Model"]</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedCarModel" name="carModelList" asp-items="Model.CarModelList" class="form-control">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label for="SelectedColor" class="control-label col-md-4 mt-2">@Localizer["Color"]</label>
                                            <div class="col-md-8">
                                                <select asp-for="SelectedCarColor" name="carColorList" asp-items="Model.CarColorList" class="form-control">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="SelectedColor" class="control-label col-md-1 mt-2">@Localizer["Note"]</label>
                                            <div class="col-md-11">
                                                <input asp-for="Note" class="form-control" maxlength="51" style="margin-left: 25px; width: 750px;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Preview area end -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body" style="min-height:650px;">

                        <div class="row justify-content-center">
                            <div class="form-group col col-md-8 text-center">
                                <label id="label-unit" for="unitValue" class="p-2 btn-primary control-label mt-2" style="border-radius:5px;">@Localizer["ActualKm"]</label>
                                <input asp-for="UnitValue" name="unitvalue" class="form-control" />
                            </div>
                        </div>
                        <div>
                            <div style="border-bottom: 2px solid #f3f3f3;">
                                <div class="text-center">
                                    <img src="@($"{currentUser.GarageSetting.BrandingLogo}/{currentUser.GarageSetting.BrandingId}_logo.jpg")" style="width:140px;" alt="logo" />
                                </div>
                            </div>
                            <div class="mt-2">
                                <form id="loginform" class="form-horizontal" role="form">
                                    <input id="garage-name-print" type="hidden" value="@currentUser.GarageSetting.Name" />
                                    <div class="row col-md-12 justify-content-center">
                                        <h6>@currentUser.GarageSetting.Name</h6>
                                    </div>
                                    <input id="garage-phone-print" type="hidden" value="@currentUser.GarageSetting.Phone.ToPhone()" />
                                    <div class="row col-md-12 justify-content-center">
                                        <h6>@currentUser.GarageSetting.Phone.ToPhone()</h6>
                                    </div>
                                    <div class="form-group mt-3">
                                        <textarea id="comment-preview" name="comment-preview" class="form-control input" rows="4" cols="50"></textarea>
                                    </div>
                                    <div id="choice123-preview">
                                        <div class="form-group">
                                            <label for="DateBox" id="label-datebox-preview" class="control-label">@Localizer["NextDateOrBefore"]</label>
                                            <input autocomplete="off" class="form-control input" id="datebox-preview" maxlength="10" name="datebox-preview" placeholder="Date" type="text" value="" readonly>

                                        </div>
                                        <div class="form-group">
                                            <label for="UnitValue" id="label-unit-preview" class="control-label">Prochain kilomètre</label>
                                            <input autocomplete="off" class="form-control input" id="unitvalue-preview" maxlength="10" name="unitvalue-preview" placeholder="0" type="text" value="" readonly>
                                        </div>
                                    </div>
                                    <div id="choice4-preview" style="display:none">
                                        <div class="form-group">
                                            <label for="make-preview" id="label-datebox-preview" class="control-label">@Localizer["Make"]</label>
                                            <input autocomplete="off" class="form-control input" id="make-preview" maxlength="10" name="make-preview" type="text" value="" readonly>

                                        </div>
                                        <div class="form-group">
                                            <label for="model-preview" id="label-unit-preview" class="control-label">@Localizer["Model"]</label>
                                            <input autocomplete="off" class="form-control input" id="model-preview" maxlength="10" name="model-preview" type="text" value="" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="color-preview" id="label-unit-preview" class="control-label">@Localizer["Color"]</label>
                                            <input autocomplete="off" class="form-control input" id="color-preview" maxlength="10" name="color-preview" type="text" value="" readonly>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="form-group row mt-3">
                            <div class="col-md-6">
                                <button class="btn btn-primary w-100" id="btnReset"><i class="fad fa-redo-alt mr-2"></i>@Localizer["Restart"]</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary w-100" id="btnPrint"><i class="fad fa-print mr-2"></i>@Localizer["Print"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Preview area end -->
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/messages.js"></script>
}
