@model PreventiveMaintenanceViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

@Html.Hidden("hidVINNotFoundTitle", Localizer["VINNotFoundTitle"].Value)
@Html.Hidden("hidVINNotFoundText", Localizer["VINNotFoundText"].Value)
@Html.Hidden("hidCreateVehicleButton", Localizer["CreateVehicle"].Value)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="main-content-inner">
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title"><i class="fad fa-car-alt mr-2"></i>@Localizer["VehicleInfo"]</h4>

                        <div class="form-group row">
                            <label for="VinCode" class="control-label col-md-2 mt-2">@Localizer["Vin"]</label>
                            <div class="col-md-3">
                                <select asp-for="Vehicle.VinCode" name="VinCode" asp-items="Model.VinCodeList" class="form-control auto-complete">
                                    <option value=""></option>
                                </select>
                            </div>
                            <label for="Description" class="control-label col-md-1 mt-2">@Localizer["Description"]</label>
                            <div class="col-md-6">
                                <div class="input-group mb-0">
                                    <input asp-for="Vehicle.Description" name="Description" class="form-control" readonly />
                                    <div class="input-group-append">
                                        <button id="btnVehicleDetail" class="btn btn-primary btn-xs" type="button"><i class="fad fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="LastServiceMileage" class="control-label col-md-2 mt-2">@Localizer["LastServiceMileage"]</label>
                            <div class="col-md-2">
                                <input asp-for="LastServiceMileage" name="LastServiceMileage" class="form-control" readonly />
                            </div>
                            <label for="LastServiceDate" class="control-label col-md-2 mt-2">@Localizer["LastServiceDate"]</label>
                            <div class="col-md-2">
                                <input asp-for="LastServiceDate" name="LastServiceDate" class="form-control" type="text" readonly />
                            </div>
                            <label for="MonthlyMileage" class="control-label col-md-2 mt-2">@Localizer["MonthlyMileage"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.MonthlyMileage" name="MonthlyMileage" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="EntryDate" class="control-label col-md-2 mt-2">@Localizer["EntryDate"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.EntryDate" name="EntryDate" class="form-control" readonly />
                            </div>
                            <label for="SelectedOil" class="control-label col-md-2 mt-2">@Localizer["UseOil"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.SelectedOilDisplay" name="SelectedOilDisplay" class="form-control" readonly />
                            </div>
                            <label for="SelectedMaintenancePlan" class="control-label col-md-2 mt-2">@Localizer["MaintenancePlan"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.SelectedMaintenancePlanDisplay" name="SelectedMaintenancePlanDisplay" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <label for="UnitNo" class="control-label col-md-2 mt-2">@Localizer["UnitNo"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.UnitNo" name="UnitNo" class="form-control" maxlength="20" readonly />
                            </div>
                            <label for="LicencePlate" class="control-label col-md-2 mt-2">@Localizer["Plate"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.LicencePlate" name="LicencePlate" class="form-control" maxlength="20" readonly />
                            </div>
                            <label for="Color" class="control-label col-md-2 mt-2">@Localizer["Color"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.Color" name="Color" class="form-control" maxlength="20" readonly />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-4">
                            <div class="card-body">
                                <div class="form-group row mb-0">
                                    <label for="Odometer" class="control-label col-md-2 mt-2">@Localizer["Odometer"]</label>
                                    <div class="col-md-2">
                                        <input asp-for="Vehicle.Odometer" name="Odometer" class="form-control" maxlength="20" />
                                    </div>
                                    <div class="col-md-8" style="text-align:right;">
                                        <button id="btnVisit" type="button" class="btn btn-primary">Nouvelle visite</button>
                                        <button id="btnWorkInProgress" type="button" class="btn btn-primary">Travaux en cours</button>
                                        <button id="btnMaintenance" type="button" class="btn btn-primary">État de la maintenance</button>
                                        <button id="btnEdit" type="button" class="btn btn-primary">Modifier le dossier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        @await Html.PartialAsync("_Owner", Model.Vehicle.Owner)
                    </div>
                    <div class="col-md-6">
                        @await Html.PartialAsync("_Driver", Model.Vehicle.Driver)
                    </div>
                </div>
            </div>
            <!-- Right column area  -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="min-height:765px;">
                        <h4 class="header-title"><i class="fad fa-history mr-2"></i>@Localizer["VisitHistory"]</h4>

                    </div>
                </div>

            </div>
            <!-- Right Column area end -->
        </div>

        <!-- Programs -->
        <div class="row mt-4">
            <div class="col-md-12">
               
                <div id="program-list">
                    @await Html.PartialAsync("_programSelected", Model.Vehicle.Programs)
                </div>
                
            </div>
        </div>

        <!-- Maintenance Plan -->
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="header-title"><i class="fad fa-clipboard-list-check mr-2"></i>@Localizer["MaintenancePlan"]</h4>

                        <table class="table table-striped w-100">
                            <colgroup>
                                <col width="30%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="5%">
                                <col width="10%">
                                <col width="10%">
                                <col width="5%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th style="border-left:1px solid #A4A4A4" colspan="2">Dernier service</th>
                                    <th></th>
                                    <th style="border-left:1px solid #A4A4A4" colspan="2">Prochain service</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Mois</th>
                                    <th>Km</th>
                                    <th style="border-left:1px solid #A4A4A4">Date</th>
                                    <th>Km</th>
                                    <th></th>
                                    <th style="border-left:1px solid #A4A4A4">Date</th>
                                    <th>Km</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="vertical-align">Huile moteur</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">3</option>
                                        <option value="2">6</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">5000</option>
                                        <option value="2">6000</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="text" class="form-control" /></td>
                                <td class="vertical-align text-center"><i class="fa-lg fad fa-wrench" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>

                                <td class="vertical-align text-center"><i id="1" class="fa fa-lg fa-print" style="cursor: pointer !important;" /></td>
                            </tr>

                            <tr>
                                <td class="vertical-align">Huile transmission</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">3</option>
                                        <option value="2">6</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">5000</option>
                                        <option value="2">6000</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="text" class="form-control" /></td>
                                <td class="vertical-align text-center"><i class="fa-lg fad fa-wrench" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>

                                <td class="vertical-align text-center"><i id="1" class="fa fa-lg fa-print" style="cursor: pointer !important;" /></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/preventive-maintenance.js"></script>
}