@model OCHPlanner3.Models.GarageViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

@Html.Hidden("HidSaveSuccess", Localizer["SaveSuccess"].Value)
@Html.Hidden("HidRequired", Localizer["Required"].Value)
@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">@Localizer["Title"]</h4>
            </div>
        </div>
    </div>
</div>

<form id="garage-create">
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">@Localizer["Coord"]</h4>
                                    <div class="form-group">
                                        <label for="Name" class="control-label">@Localizer["Name"]</label>
                                        <input asp-for="Name" name="name" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Address" class="control-label">@Localizer["Address"]</label>
                                        <input asp-for="Address" name="address" type="text" class="form-control" />
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="City" class="control-label">@Localizer["City"]</label>
                                            <input asp-for="City" type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="Province" class="control-label">@Localizer["Province"]</label>
                                            <input asp-for="Province" type="text" class="form-control" />
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="ZipCode" class="control-label">@Localizer["PostalCode"]</label>
                                            <input asp-for="ZipCode" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="Phone" class="control-label">@Localizer["Phone"]</label>
                                                <input asp-for="Phone" name="phone" type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="Email" class="control-label">@Localizer["Email"]</label>
                                                <input asp-for="Email" name="email" type="email" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <div class="col-12 mt-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Modules</h4>
                                        <div class="form-check">
                                            <input asp-for="Support" type="checkbox" class="form-check-input" />
                                            <label class="form-check-label" for="Support">Support</label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="OilReset" type="checkbox" class="form-check-input" />
                                            <label class="form-check-label" for="OilReset">OilReset</label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Communication" type="checkbox" class="form-check-input" />
                                            <label class="form-check-label" for="Communication">Communication</label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Maintenance" type="checkbox" class="form-check-input" />
                                            <label class="form-check-label" for="Maintenance">Maintenance</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 mt-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">@Localizer["Branding"]</h4>
                                        <div class="form-group row">
                                            <label for="brandingId" class="control-label col-md-4">@Localizer["BrandingAs"]</label>
                                            <div class="col-md-8">
                                                <label class="mr-4"><input asp-for="BrandingId" value="1" type="radio" class="mr-1" />Och Planner</label>
                                                <label><input asp-for="BrandingId" value="2" type="radio" class="mr-1" />TerraClean</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <img id="branding-logo" src="@Model.BrandingLogo" width="300" height="190" />
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="control-label w-100 font-weight-bold">@Localizer["HelpLink"]</label>
                                                    <label id="labelHelpLinkFr" class="control-label">Fr: @Model.HelpLinkFr</label>
                                                    <label id="labelHelpLinkEn" class="control-label">En: @Model.HelpLinkEn</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label w-100 font-weight-bold">@Localizer["StoreLink"]</label>
                                                    <label id="labelStoreLinkFr" class="control-label">Fr: @Model.StoreLinkFr</label>
                                                    <label id="labelStoreLinkEn" class="control-label">En: @Model.StoreLinkEn</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">@Localizer["Configuration"]</h4>
                                    <div class="form-group">
                                        <label for="bannerList" class="control-label">@Localizer["Banner"]</label>
                                        <select asp-for="SelectedBannerId" asp-items="Model.BannerList" class="form-control">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="SelectedLanguageCode" class="control-label">@Localizer["Language"]</label>
                                                <select asp-for="SelectedLanguageCode" asp-items="Model.LanguageList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="NbrUser" class="control-label">@Localizer["NbrUsers"]</label>
                                                <input asp-for="NbrUser" name="nbrUser" type="number" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="SelectedDateFormatCode" class="control-label">@Localizer["DateFormat"]</label>
                                                <select asp-for="SelectedDateFormatCode" asp-items="Model.DateFormatList" class="form-control">
                                                    <option value="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="ActivationDate" class="control-label">@Localizer["ActivationDate"]</label>
                                                <input asp-for="ActivationDate" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-check">
                                                <input asp-for="PersonalizedSticker" type="checkbox" class="form-check-input" />
                                                <label class="form-check-label" for="PersonalizedSticker">@Localizer["PersonalisedSticker"]</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="form-check-label" for="PersonalizedSticker">@Localizer["StickerLogo"]</label>
                                    </div>
                                    <div class="form-row mt-3">

                                        <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                                            <div class="buttons">
                                                <div class="upload-button">
                                                    <input id="file" name="file" type="file" size="1" onchange="uploadFile('file');" />
                                                    <input asp-for="StickerLogo" type="hidden" id="hidStickerLogo" value="@Model.StickerLogo" />
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="form-row mt-3">
                                        <img id="garage-logo" src="@(string.IsNullOrWhiteSpace(Model.StickerLogo) ? "https://ochplanner3.blob.core.windows.net/logos/blank.png" : Model.StickerLogo)" width="300" height="190" />
                                        <i class="far fa-trash-alt fa-2x ml-3" style="display:@(string.IsNullOrWhiteSpace(Model.StickerLogo) ? "none" : "block")"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <div class="col-12 mt-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Notes</h4>
                                        <div class="form-group">
                                            <label for="Note" class="control-label">Notes</label>
                                            <textarea asp-for="Note" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <button id="btnSave" type="button" class="btn btn-primary">@Localizer["Save"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function uploadFile(inputId) {
            debugger
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();

            formData.append("garageId", '99999');
            formData.append("MyUploader", files[0]);

            $.ajax(
                {
                    type: "POST",
                    url: '/fr/garage/UploadLogo',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#garage-logo').attr('src', data);
                        $('#hidStickerLogo').val(data);
                        $('.fa-trash-alt').show();
                    }
                }
            );
        }
    </script>
    <script src="~/js/garage-create.js"></script>
}
