@model OCHPlanner3.Models.GarageListViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

@Html.Hidden("hidNewButton", Localizer["Add"].Value)
@Html.Hidden("hidEditButton", Localizer["Edit"].Value)
@Html.Hidden("hidDeleteButton", Localizer["Delete"].Value)
@Html.Hidden("hidDeleteTitle", Localizer["DeleteTitle"].Value)
@Html.Hidden("hidDeleteText", Localizer["DeleteText"].Value)
@Html.Hidden("hidDeleteButton", Localizer["DeleteButton"].Value)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">@Localizer["Title"]</h4>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div id="user-list">
                            @await Html.PartialAsync("_Garages", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/js/garage.js"></script>
}

