@model OCHPlanner3.Models.PrinterConfigurationViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

@Html.Hidden("HidSelectedOilPrinter", Model.SelectedOilPrinter)
@Html.Hidden("HidOilOffsetX", Model.OilOffsetX)
@Html.Hidden("HidOilOffsetY", Model.OilOffsetY)
@Html.Hidden("HidSaveSuccess", Localizer["SaveSuccess"].Value)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">@Localizer["Title"]</h4>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div id="accordion3" class="according accordion-s3">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#accordion31" aria-expanded="true">
                                        @Localizer["OilPrinterTitle"]
                                    </a>
                                </div>
                                <div id="accordion31" class="collapse show" data-parent="#accordion3" style="">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 mt-1">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h6 class="header-title">@Localizer["AvailablePrinters"]</h6>
                                                        <div id="printer-list" class="list-group">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mt-1">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h6 class="header-title">@Localizer["StickerRotation"]</h6>
                                                        <div class="row mt-2">
                                                            <ul id="add-role-list-ul" style="list-style: none; padding-left: 20px;">
                                                                <li>
                                                                    <div class="mb-2">
                                                                        <input name="rotation-active" type="checkbox" class="checkbox mr-2" asp-for="RotationSelected" />
                                                                        <label style="font-weight:500;">@Localizer["Rotation"]</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h6 class="header-title">@Localizer["StickerMargin"]</h6>
                                                        <div class="row mt-2">
                                                            <div class="col-md-6">
                                                                <span id="oilOffsetXValLabel">@Localizer["LeftMargin"] : <span id="oilOffsetXSliderVal">@Model.OilOffsetX</span></span>
                                                                <input id="oilOffsetX" type="text" data-slider-min="-80" data-slider-max="80" data-slider-step="1" data-slider-value="@Model.OilOffsetX" />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <span id="oilOffsetYValLabel">@Localizer["TopMargin"] : <span id="oilOffsetYSliderVal">@Model.OilOffsetY</span></span>
                                                                <input id="oilOffsetY" type="text" data-slider-min="-80" data-slider-max="80" data-slider-step="1" data-slider-value="@Model.OilOffsetY" />
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center mt-4">
                                                            <button id="btnTestOffset" type="button" class="btn btn-primary"><i class="fad fa-print mr-2"></i>@Localizer["TestMargins"]</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <button id="btnSave" type="button" class="btn btn-primary">@Localizer["Save"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/js/config-printer.js"></script>
}



