@model ProductManagementViewModel

@using OCHPlanner3.Services.Interfaces
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IUserService  userService

@{
    ViewData["Title"] = Localizer["Title"];
}
@{
    var currentUser = userService.GetCurrentUserCredentials();
}

@Html.Hidden("hidNewButton", Localizer["Add"].Value)
@Html.Hidden("hidEditButton", Localizer["Edit"].Value)
@Html.Hidden("hidDeleteButton", Localizer["Delete"].Value)
@Html.Hidden("hidDeleteTitle", Localizer["DeleteTitle"].Value)
@Html.Hidden("hidDeleteText", Localizer["DeleteText"].Value)
@Html.Hidden("hidDeleteButton", Localizer["DeleteButton"].Value)
@Html.Hidden("hidDeleteSuccess", Localizer["DeleteSuccess"].Value)
@Html.Hidden("hidSaveSuccess", Localizer["SaveSuccess"].Value)
@Html.Hidden("hidUpdateSuccess", Localizer["UpdateSuccess"].Value)

@Html.Hidden("hidProductNoRequired", Localizer["ProductNoRequired"].Value)
@Html.Hidden("hidDescriptionRequired", Localizer["DescriptionRequired"].Value)
@Html.Hidden("hidCostRequired", Localizer["CostRequired"].Value)
@Html.Hidden("hidRetailRequired", Localizer["RetailRequired"].Value)

@Html.Hidden("hidSelectedGarageId", Model.SelectedGarageId)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">@Localizer["Title"]</h4>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner">
    <div class="container">

        <div class="row pt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div id="product-list">
                            @await Html.PartialAsync("_products", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["AddProduct"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addForm">
                    <input name="GarageId" type="hidden" value="@Model.SelectedGarageId" />
                    <div id="AddError" class="alert alert-danger hidden" role="alert"></div>
                    <div class="form-group">
                        <label for="productNo">@Localizer["ProductNo"]:</label>
                        <input name="productNo" type="text" maxlength="51" class="form-control restrict" />
                    </div>
                    <div class="form-group">
                        <label for="description">@Localizer["Description"]:</label>
                        <input name="description" type="text" maxlength="51" class="form-control restrict" />
                    </div>
                    <div class="form-group">
                        <label for="costPrice">@Localizer["Cost"]:</label>
                        <input name="costPrice" type="number" step="any" maxlength="51" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="retailPrice">@Localizer["Retail"]:</label>
                        <input name="retailPrice" type="number" step="any" maxlength="51" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                <button type="button" id="submitAddForm" form="roleForm" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["EditProduct"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="editForm">
                    <div id="editError" class="alert alert-danger hidden" role="alert"></div>
                    <div class="form-group">
                        <input name="id" type="hidden" />
                        <label for="productNo">@Localizer["ProductNo"]:</label>
                        <input name="productNo" type="text" maxlength="51" class="form-control restrict" />
                    </div>
                    <div class="form-group">
                        <label for="description">@Localizer["Description"]:</label>
                        <input name="description" type="text" maxlength="51" class="form-control restrict" />
                    </div>
                    <div class="form-group">
                        <label for="costPrice">@Localizer["Cost"]:</label>
                        <input name="costPrice" type="number" step="any" maxlength="51" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="retailPrice">@Localizer["Retail"]:</label>
                        <input name="retailPrice" type="number" step="any" maxlength="51" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                <button type="button" id="submitEditForm" form="editForm" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

@section Scripts {

    <script src="~/js/option-product.js"></script>
}

