@model MaintenancePlanViewModel

@using OCHPlanner3.Services.Interfaces
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IUserService  userService

@{
    ViewData["Title"] = Localizer["Title"];
}
@{
    var currentUser = userService.GetCurrentUserCredentials();
}


@Html.Hidden("hidSelectedGarageId", Model.GarageId)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">@Localizer["Title"]</h4>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner">
    <div class="container">
        <form id="createMaintenancePlanForm">

            <div class="row pt-3 pb-3">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="Code" class="control-label col-md-4 mt-3">@Localizer["Name"]</label>
                                <div class="col-md-8">
                                    <input asp-for="Name" name="Name" class="form-control" maxlength="50" />
                                </div>
                                
                                
                            </div>
                            @*<div class="form-group row">
                                    <label for="Code" class="control-label col-md-2 mt-2">@Localizer["CodeService"]</label>
                                    <div class="col-md-3">
                                        <input asp-for="Code" name="Code" class="form-control" maxlength="30" />
                                    </div>
                                    <label for="Name" class="control-label col-md-2 mt-2">@Localizer["Name"]</label>
                                    <div class="col-md-5">
                                        <input asp-for="Name" name="Name" class="form-control" maxlength="250" />
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <label for="product" class="control-label col-md-2 mt-2">@Localizer["ProductsUse"]</label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="SelectedProduct" class="control-label mt-2">@Localizer["Product"]</label>
                                            <select asp-for="SelectedProduct" name="SelectedProduct" asp-items="Model.ProductList" class="form-control">
                                                <option value="">-- Select --</option>
                                            </select>
                                            <span id="SelectedProduct-error" class="error invalid-feedback" style="display:none;">@Localizer["SelectedProductRequired"]</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="Quantity" class="control-label mt-2">@Localizer["Quantity"]</label>
                                            <input type="number" name="Quantity" class="form-control" min="1" max="999" />
                                            <span id="Quantity-error" class="error invalid-feedback" style="display:none;">@Localizer["QuantityRequired"]</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button id="btnAddProduct" type="button" class="btn btn-primary btn-xs w-100" style="margin-top:40px;">@Localizer["Add"]</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10 offset-md-2">
                                        <div id="product-list">
                                            @await Html.PartialAsync("_selectedProducts", Model.Products)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2 offset-md-8">
                                        <div class="form-group">

                                            <label for="ProductCost" class="control-label mt-2">@Localizer["ProductCost"]</label>
                                            <input type="number" asp-for="ProductCost" name="ProductCost" class="form-control text-right" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <label for="ProductRetail" class="control-label mt-2">@Localizer["ProductRetail"]</label>
                                            <input type="number" asp-for="ProductRetail" name="ProductRetail" class="form-control text-right" readonly />
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group row">
                                    <label for="Name" class="control-label col-md-2 mt-2">@Localizer["Material"]</label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Material" class="control-label col-md-4 mt-2">@Localizer["Description"]</label>
                                            <input asp-for="Material" name="Material" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <label for="MaterialCost" class="control-label mt-2">@Localizer["MaterialCost"]</label>
                                            <input type="number" asp-for="MaterialCost" name="MaterialCost" class="form-control text-right toFixed updTotal" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">

                                            <label for="MaterialRetail" class="control-label mt-2">@Localizer["MaterialRetail"]</label>
                                            <input type="number" asp-for="MaterialRetail" name="MaterialRetail" class="form-control text-right toFixed updTotal" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Name" class="control-label col-md-2 mt-2">@Localizer["Labor"]</label>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="WorkTime" class="control-label mt-2">@Localizer["WorkTime"]</label>
                                            <input type="number" asp-for="WorkTime" name="WorkTime" class="form-control text-right updWork" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="HourlyRate" class="control-label mt-2">@Localizer["HourlyRateCost"]</label>
                                            <input type="number" asp-for="HourlyRateCost" name="HourlyRateCost" class="form-control text-right toFixed updWork" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="HourlyRate" class="control-label mt-2">@Localizer["HourlyRateBillable"]</label>
                                            <input type="number" asp-for="HourlyRateBillable" name="HourlyRateBillable" class="form-control text-right toFixed updWork" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="WorkCost" class="control-label mt-2">@Localizer["WorkCost"]</label>
                                            <input type="number" asp-for="WorkCost" name="WorkCost" class="form-control text-right updTotal" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="WorkTotal" class="control-label mt-2">@Localizer["WorkTotal"]</label>
                                            <input type="number" asp-for="WorkTotal" name="WorkTotal" class="form-control text-right updTotal" readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-8 offset-md-4">
                                        <div class="card" style="background-color: rgba(0, 0, 0, 0.1);">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <label for="MaintenanceTotalCost" class="control-label col-md-4 mt-2 text-righ">@Localizer["MaintenanceTotalCost"]</label>
                                                    <div class="col-md-2">
                                                        <input type="number" asp-for="MaintenanceTotalCost" name="MaintenanceTotalCost" class="form-control text-right" readonly />
                                                    </div>
                                                    <label for="ProfitPercentage" class="control-label col-md-3 mt-2 text-right">@Localizer["ProfitPercentage"]</label>
                                                    <div class="col-md-2">
                                                        <input type="number" asp-for="ProfitPercentage" name="ProfitPercentage" class="form-control text-right" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="MaintenanceTotalRetail" class="control-label col-md-4 mt-2 text-righ">@Localizer["MaintenanceTotalRetail"]</label>
                                                    <div class="col-md-2">
                                                        <input type="number" asp-for="MaintenanceTotalRetail" name="MaintenanceTotalRetail" class="form-control text-right" readonly />
                                                    </div>
                                                    <label for="ProfitAmount" class="control-label col-md-3 mt-2 text-right">@Localizer["ProfitAmount"]</label>
                                                    <div class="col-md-2">
                                                        <input type="number" asp-for="ProfitAmount" name="ProfitAmount" class="form-control text-right" readonly />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="MaintenanceTotalPrice" class="control-label col-md-4 mt-2 text-righ">@Localizer["MaintenanceTotalPrice"]</label>
                                                    <div class="col-md-2">
                                                        <input type="number" asp-for="MaintenanceTotalPrice" name="MaintenanceTotalPrice" class="form-control text-right toFixed updProfit" />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-5">
                                    <button id="btnSave" type="button" class="btn btn-primary">@Localizer["Save"]</button>
                                </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    @section Scripts {
        <script src="~/js/maintenance-type-create.js"></script>
    }
