@model MaintenancePlanViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

@Html.Hidden("hidVINNotFoundTitle", Localizer["VINNotFoundTitle"].Value)
@Html.Hidden("hidVINNotFoundText", Localizer["VINNotFoundText"].Value)
@Html.Hidden("hidCreateVehicleButton", Localizer["CreateVehicle"].Value)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="main-content-inner">
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title"><i class="fad fa-car-alt mr-2"></i>@Localizer["VehicleInfo"]</h4>

                        <div class="form-group row">
                            <label for="VinCode" class="control-label col-md-2 mt-2">@Localizer["Vin"]</label>
                            <div class="col-md-3">
                                <input asp-for="Vehicle.VinCode" name="VinCode" class="form-control" />
                            </div>
                            <label for="Description" class="control-label col-md-1 mt-2">@Localizer["Description"]</label>
                            <div class="col-md-6">
                                <div class="input-group mb-0">
                                    <input asp-for="Vehicle.Description" name="Description" class="form-control" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-xs" type="button" data-toggle="modal" data-target="#vehicleModal"><i class="fad fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="LastServiceMileage" class="control-label col-md-2 mt-2">@Localizer["LastServiceMileage"]</label>
                            <div class="col-md-2">
                                <input asp-for="LastServiceMileage" name="LastServiceMileage" class="form-control" maxlength="20" />
                            </div>
                            <label for="LastServiceDate" class="control-label col-md-2 mt-2">@Localizer["LastServiceDate"]</label>
                            <div class="col-md-2">
                                <input asp-for="LastServiceDate" name="LastServiceDate" class="form-control" maxlength="20" />
                            </div>
                            <label for="MonthlyMileage" class="control-label col-md-2 mt-2">@Localizer["MonthlyMileage"]</label>
                            <div class="col-md-2">
                                <input asp-for="MonthlyMileage" name="LastServiceDate" class="form-control" maxlength="20" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="EntryDate" class="control-label col-md-2 mt-2">@Localizer["EntryDate"]</label>
                            <div class="col-md-2">
                                <input asp-for="EntryDate" name="EntryDate" class="form-control" maxlength="20" />
                            </div>
                            <label for="SelectedOil" class="control-label col-md-2 mt-2">@Localizer["UseOil"]</label>
                            <div class="col-md-2">
                                <select asp-for="Vehicle.SelectedOil" name="oillist" asp-items="Model.Vehicle.OilList" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                            <label for="SelectedMaintenancePlan" class="control-label col-md-2 mt-2">@Localizer["MaintenancePlan"]</label>
                            <div class="col-md-2">
                                <select asp-for="Vehicle.SelectedMaintenancePlan" name="maintenancelist" asp-items="Model.Vehicle.MaintenancePlanList" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <label for="UnitNo" class="control-label col-md-2 mt-2">@Localizer["UnitNo"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.UnitNo" name="UnitNo" class="form-control" maxlength="20" />
                            </div>
                            <label for="Plate" class="control-label col-md-2 mt-2">@Localizer["Plate"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.Plate" name="Plate" class="form-control" maxlength="20" />
                            </div>
                            <label for="Color" class="control-label col-md-2 mt-2">@Localizer["Color"]</label>
                            <div class="col-md-2">
                                <input asp-for="Vehicle.Color" name="Color" class="form-control" maxlength="20" />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-4">
                            <div class="card-body">
                                <div class="form-group row mb-0">
                                    <label for="Odometer" class="control-label col-md-2 mt-2">@Localizer["Odometer"]</label>
                                    <div class="col-md-2">
                                        <input asp-for="Vehicle.Odometer" name="Odometer" class="form-control" maxlength="20" />
                                    </div>
                                    <div class="col-md-8" style="text-align:right;">
                                        <button id="btnVisit" type="button" class="btn btn-primary">Nouvelle visite</button>
                                        <button id="btnWorkInProgress" type="button" class="btn btn-primary">Travaux en cours</button>
                                        <button id="btnMaintenance" type="button" class="btn btn-primary">État de la maintenance</button>
                                        <button id="btnEdit" type="button" class="btn btn-primary">Modifier le dossier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title"><i class="fad fa-user mr-2"></i>@Localizer["OwnerInfo"]</h4>
                                <div class="form-group row">
                                    <label for="Owner.Company" class="control-label col-md-4 mt-2">@Localizer["Company"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Owner.Company" name="Company" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Owner.Name" class="control-label col-md-4 mt-2">@Localizer["Name"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Owner.Name" name="Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Owner.Address" class="control-label col-md-4 mt-2">@Localizer["Address"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Owner.Address" name="Address" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Owner.Phone" class="control-label col-md-4 mt-2">@Localizer["Phone"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Owner.Phone" name="Phone" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <label for="Owner.Email" class="control-label col-md-4 mt-2">@Localizer["Email"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Owner.Email" name="Email" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title"><i class="fad fa-user mr-2"></i>@Localizer["DriverInfo"]</h4>
                                <div class="form-group row">
                                    <label for="Driver.Name" class="control-label col-md-4 mt-2">@Localizer["Name"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Driver.Name" name="Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Driver.Phone" class="control-label col-md-4 mt-2">@Localizer["Phone"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Driver.Phone" name="Phone" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Driver.Cellphone" class="control-label col-md-4 mt-2">@Localizer["CellPhone"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Driver.CellPhone" name="Cellphone" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Driver.Email" class="control-label col-md-4 mt-2">@Localizer["Email"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Driver.Email" name="Email" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <label for="Driver.Autorization" class="control-label col-md-4 mt-2">@Localizer["Authorization"]</label>
                                    <div class="col-md-8">
                                        <input asp-for="Driver.Autorization" name="Autorization" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right column area  -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="min-height:785px;">
                        <h4 class="header-title"><i class="fad fa-history mr-2"></i>@Localizer["VisitHistory"]</h4>

                    </div>
                </div>

            </div>
            <!-- Right Column area end -->
        </div>

        <!-- Programs -->
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="header-title"><i class="fad fa-list-alt mr-2"></i>@Localizer["Programs"]</h4>

                        <ul id="add-role-list-ul" style="list-style: none; padding: 10px;">

                            <li>
                                <div class="row pl-3">
                                    <div class="col-md-4 mt-1">
                                        <input name="roles[]" type="checkbox" class="checkbox mr-2 mt-1" value="2" />
                                        <label style="font-weight:500;">Plan de garantie à vie moteur</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="Email" class="form-control" type="text" id="Owner_Email" value="">
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row pl-3 mt-2">
                                    <div class="col-md-4 mt-1">
                                        <input name="roles[]" type="checkbox" class="checkbox mr-2 mt-1" value="2" />
                                        <label style="font-weight:500;">Plan de garantie système de refroidissement</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="Email" class="form-control" type="text" id="Owner_Email" value="">
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row pl-3 mt-2">
                                    <div class="col-md-4 mt-1">
                                        <input name="roles[]" type="checkbox" class="checkbox mr-2 mt-1" value="2" />
                                        <label style="font-weight:500;">Programme assurance routière</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="Email" class="form-control" type="text" id="Owner_Email" value="">
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row pl-3 mt-2">
                                    <div class="col-md-4 mt-1">
                                        <input name="roles[]" type="checkbox" class="checkbox mr-2 mt-1" value="2" />
                                        <label style="font-weight:500;">Air Miles</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="Email" class="form-control" type="text" id="Owner_Email" value="">
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Maintenance Plan -->
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <h4 class="header-title"><i class="fad fa-clipboard-list-check mr-2"></i>@Localizer["MaintenancePlan"]</h4>

                        <table class="table table-striped w-100">
                            <colgroup>
                                <col width="30%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="5%">
                                <col width="10%">
                                <col width="10%">
                                <col width="5%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th style="border-left:1px solid #A4A4A4" colspan="2">Dernier service</th>
                                    <th></th>
                                    <th style="border-left:1px solid #A4A4A4" colspan="2">Prochain service</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Mois</th>
                                    <th>Km</th>
                                    <th style="border-left:1px solid #A4A4A4">Date</th>
                                    <th>Km</th>
                                    <th></th>
                                    <th style="border-left:1px solid #A4A4A4">Date</th>
                                    <th>Km</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="vertical-align">Huile moteur</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">3</option>
                                        <option value="2">6</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">5000</option>
                                        <option value="2">6000</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="text" class="form-control" /></td>
                                <td class="vertical-align text-center"><i class="fa-lg fad fa-wrench" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>

                                <td class="vertical-align text-center"><i id="1" class="fa fa-lg fa-print" style="cursor: pointer !important;" /></td>
                            </tr>

                            <tr>
                                <td class="vertical-align">Huile transmission</td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">3</option>
                                        <option value="2">6</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option value="1">5000</option>
                                        <option value="2">6000</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="text" class="form-control" /></td>
                                <td class="vertical-align text-center"><i class="fa-lg fad fa-wrench" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>


                                <td style="background-color: #A4A4A4; text-align: center;"><input type="text" class="form-control" /></td>

                                <td class="vertical-align text-center"><i id="1" class="fa fa-lg fa-print" style="cursor: pointer !important;" /></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Vehicle Modal -->
<div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fad fa-car-alt mr-2"></i>@Localizer["VehicleInfo"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="VehicleForm">
                    <div id="vehicleError" class="alert alert-danger hidden" role="alert"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="VinCode">@Localizer["Vin"]</label>
                                <input asp-for="Vehicle.VinCode" name="VinCode" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="odometer">@Localizer["Odometer"]</label>
                                <input name="odometer" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="year">@Localizer["Year"]</label>
                                <input id="year" name="year" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="make">@Localizer["Make"]</label>
                                <input id="make" name="make" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="model">@Localizer["Model"]</label>
                                <input id="model" name="model" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="color">@Localizer["Color"]</label>
                                <input id="color" name="color" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="brake">@Localizer["BrakeSystem"]</label>
                                <input id="brake" name="brake" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="steering">@Localizer["Steering"]</label>
                                <input id="steering" name="steering" type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="maintenancePlan">@Localizer["MaintenancePlanFull"]</label>
                                <input id="maintenancePlan" name="maintenancePlan" type="text" class="form-control" />
                            </div>




                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">@Localizer["DescriptionFull"]</label>
                                <input name="description" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="SelectedOil" class="control-label">@Localizer["UseOil"]</label>
                                <select asp-for="Vehicle.SelectedOil" name="oillist" asp-items="Model.Vehicle.OilList" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="transmission">@Localizer["Transmission"]</label>
                                <input id="transmission" name="transmission" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="propulsion">@Localizer["Propulsion"]</label>
                                <input id="propulsion" name="propulsion" type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="engine">@Localizer["Engine"]</label>
                                <input id="engine" name="engine" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="unitNo">@Localizer["UnitNo"]</label>
                                <input id="unitNo" name="unitNo" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="plate">@Localizer["Plate"]</label>
                                <input id="plate" name="plate" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="seating">@Localizer["Seating"]</label>
                                <input id="seating" name="seating" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="program">@Localizer["Program"]</label>
                                <input id="program" name="program" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/maintenance-plan.js"></script>
}